@import "tailwindcss"; /* For Tailwind v4 */

* {
  box-sizing: border-box;
}

.resumePage {
  width: 794px;
  height: 1123px; /* MUST BE FIXED */
  overflow: hidden; /* Hide the extra content so we can detect it */
  padding: 40px;
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

@media print {
  .resumePage {
    width: 210mm !important;
    height: 297mm !important;
    /* margin: 0 !important;
    padding: 0 !important; */
    box-shadow: none !important;
    page-break-after: always;
  }

  button,
  .text-red-500 {
    display: none !important; /* Hide UI elements */
  }
}
